pytest==5.3.2
pytest-cov==2.8.1
pytest-xdist==1.31.0
pytest-mock==2.0.0
pytest-spark==0.5.2
black==19.10b0
isort<5
flake8==3.7.9
flake8-isort==2.8.0
flake8-docstrings==1.5.0
flake8-bugbear==20.1.0
flake8-bandit==2.1.2
mypy==0.782
jupyter
